CalculatorClientProject/xml-resources/web-service-references/CalculateService_1/wsdl/localhost_8080/Calculator/CalculateService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://services.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://services.com/">

<xs:element name="Addition" type="tns:Addition"/>

<xs:element name="AdditionResponse" type="tns:AdditionResponse"/>

<xs:element name="Subtraction" type="tns:Subtraction"/>

<xs:element name="SubtractionResponse" type="tns:SubtractionResponse"/>

<xs:complexType name="Addition">
<xs:sequence>
<xs:element name="FirstValue" type="xs:int"/>
<xs:element name="SecondValue" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="AdditionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="Subtraction">
<xs:sequence>
<xs:element name="FirstValue" type="xs:int"/>
<xs:element name="SecondValue" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="SubtractionResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>